extends layout

block content
  script.
    var socket = io.connect('http://localhost:3000');
    var steps = !{JSON.stringify(steps)};

    socket.on("nodeValueChange", function(data) {
      $("span[data-nodeid='" + data.nodeId + "']").text(data.value);
    });

    socket.on("step", function (data) {

      if(data.state == "Succeed"){
        $("div[data-step='" + data.stepNo + "']")            
          .addClass('succeed');
      }else{
         $("div[data-step='" + data.stepNo + "']")            
          .removeClass('succeed');
      }
      
      //$("div[data-step='" + (el.StepNo + 1) + "']")

    });

  h1.text-center CNC TEST
  div.d-flex.justify-content-center
    button#btn-start.btn.btn-success.text-center.hvr-buzz START
  main

    each step in steps
      div(data-step=step.StepNo class=step.NodesToSendValue ? 'action' : '').bullet.waiting
        p= step.Description
        ul
          -if(step.NodesToCheckValue)
            ul
              each node in step.NodesToCheckValue
                li
                  span.nodeId= node.NodeId 
                  span.nodeDemandValue= node.NodeDesiredValue
                  span(data-nodeid=node.NodeId).nodeCurrentValue

          -if(step.NodesToSendValue)
            ul
              each node in step.NodesToSendValue
                li
                  span.nodeId= node.NodeId
                  span.nodeCommandValue= node.NodeDesiredValue
                  span(data-nodeid=node.NodeId).nodeCurrentValue
          
    script.
      $(".bullet").click(function(){
        var isActionable = $(this).hasClass("action");
        if(isActionable){
          var dataStep = $(this).data("step");
          socket.emit(dataStep, "");
            
        }

      });  

      $('#btn-start').click(function(){
          socket.emit("start-test", "");
          window.location.reload();
      });             